body {
    background-color: aliceblue;
}


#input_naam {
    border-radius: 20px;
    border-style: solid;
    height: 20px;
    width: 200px;
    text-align: center;
    color: goldenrod;
    font-size: 20px;
    left: 45%;
    position: absolute;
    top: 50%;
   

}